:root { 
--gray_50_01:#f6f6fe; 
--blue_A400:#0d6efd; 
--red_600:#dc3545; 
--gray_300_af:#dfdfdfaf; 
--gray_800_01:#343a40; 
--black_900_3f:#0000003f; 
--gray_800_87:#44444487; 
--green_500:#2eca6a; 
--gray_300_99:#dddddd99; 
--black_900_43:#00000043; 
--teal_700:#198754; 
--indigo_900_19:#01297019; 
--blue_gray_900_01:#333246; 
--blue_gray_900:#33333a; 
--gray_600:#6c757d; 
--blue_gray_100:#ced4da; 
--blue_gray_300:#899bbd; 
--amber_500:#ffc107; 
--gray_800:#444444; 
--red_A200:#ff4861; 
--blue_gray_500:#757f8e; 
--indigo_A400_01:#3c4ef1; 
--gray_200:#efefef; 
--blue_50:#eceefe; 
--blue_300:#70bbfd; 
--white_A700:#ffffff; 
--blue_gray_50:#edf1f7; 
--light_blue_A400:#0dcaf0; 
--blue_gray_100_01:#d9d9d9; 
--indigo_A200:#5f6ef1; 
--green_A200:#4ce1b6; 
--black_900_1f:#0000001f; 
--gray_50:#f6f9ff; 
--indigo_900_33:#01297033; 
--black_900:#000000; 
--gray_500_01:#999999; 
--orange_A100:#f6da6e; 
--gray_600_02:#757575; 
--gray_500:#979696; 
--gray_600_01:#7d7c7c; 
--blue_gray_400:#888888; 
--red_A100:#f88e7d; 
--blue_gray_600:#51678f; 
--gray_900:#212529; 
--gray_900_01:#232329; 
--amber_200:#f4dd87; 
--blue_gray_900_7e:#33333a7e; 
--gray_600_04:#787985; 
--green_50:#e0f8e9; 
--gray_300:#e0e0e0; 
--gray_600_03:#767676; 
--gray_300_02:#d8dfe9; 
--gray_300_01:#dddddd; 
--gray_100:#f0f4fb; 
--teal_A400:#27cda5; 
--white_A700_87:#ffffff87; 
--green_A200_01:#55e5bb; 
--orange_50:#ffecdf; 
--indigo_A400:#4154f1; 
--indigo_900:#012970; 
--blue_200:#87c3f7; 
--blue_gray_900_95:#2a2a3195; 
}